<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="demo-ui-form">
    <mat-form-field class="demo-ui-full-width">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name" placeholder="Name des Produkts">
        <mat-error *ngIf="productForm.controls['name'].touched && productForm.controls['name'].hasError('required')">
            Der Name ist ein Pflichtfeld.
        </mat-error>
    </mat-form-field>

    <mat-form-field class="demo-ui-full-width">
        <mat-label>Beschreibung</mat-label>
        <input type="text" matInput formControlName="description" placeholder="Beschreibung des Produkts">
    </mat-form-field>

    <mat-form-field class="demo-ui-full-width">
        <mat-label>Preis</mat-label>
        <input type="number" matInput formControlName="price" placeholder="Preis des Produkts" step="0.01">
    </mat-form-field>

    <button mat-flat-button color="primary" [disabled]="!productForm.valid">Speichern</button>
</form>